body {
	position: relative;
}
#downline-box {
	display: none;
}
.list_active {
	color: #8C61DA;
	background-color: #faf9fd;
}
.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10001;
	filter: alpha(opacity=50);
	background-color: #000000;
	opacity: 0.4;
	-moz-opacity: 0.4;
	width: 100%;
	height: 100%;
}

.modal {
	position: absolute;
	top: 240px;
	left: 0px;
	z-index: 10002;
	width: 100%;
}
.w1 {
	width: 420px;
	height: 366px;
}

.w2 {
	width: 718px;
	height: 410px;
}
.downline-box {
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
}
.downline-box .warning {
	font-size: 12px;
	letter-spacing: 0.89px;
	width: 150px;
	color: #bdbdbd;
	height: 21px;
	padding-left: 27px;
	margin: 0 auto;
	margin-bottom: 21px;
	line-height: 21px;
	background: url(../../img/manage/errorwarn.png) no-repeat center left;
}
.downline-box textarea {
	border: 1px solid #dbdbdb;
	border-radius: 4px;
	width: 338px;
	height: 142px;
	font-size: 12px;
	color: #4A4A4A;
	text-align: left;
	text-align: -moz-left;
	text-align: -webkit-left;
	padding: 8px 13px 0px 12px;
	resize: none;
	margin: 0 auto;
	display: block;
	margin-bottom: 30px;
}

.downline-box .title {
	font-size: 18px;
	color: #424242;
	width: 100%;
	height: 64px;
	line-height: 64px;
	position: relative;
}

.downline-box .title .close {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 20px;
	right: 20px;
	background: url(../../img/manage/close.png) no-repeat center center;
}

.dev-container .dev-wrapper {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.dev-container .dev-wrapper .items {
	width: 100%;
	background: #ffffff;
	border: 1px solid #ededed;
	margin-bottom: 14px;
}

.dev-container .dev-wrapper .dev-item1 {
	height: 140px;
}

.dev-container .dev-item1 figure {
	width: 486px;
	height: 100%;
	line-height: 100%;
}

.dev-container .dev-item1 figure .icon {
	width: 125px;
	height: 125px;
	display: inline-block;
	line-height: 188px;
	float: left;
}

.dev-container .dev-item1 figure .right-part {
	width: auto;
	height: 140px;
	/*line-height: 140px;*/
	float: left;
	text-align: left;
	text-align: -moz-left;
	text-align: -webkit-left;
	position: relative;
}
.dev-container .dev-item1 figure .right-part .tip {
	width: 120px;
	font-size: 14px;
	color: #666;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	position: absolute;
	top: 32px;
	letter-spacing: 1.19px;
}
.dev-container .dev-item1 figure .app_title {
	width: auto;
	height: 140px;
	line-height: 140px;
	float: left;
	background: url(../../img/manage/icon_yixiajia.png) no-repeat left 62px;
}

.dev-container .dev-item1 figure figcaption {
	font-size: 16px;
	color: #4a4a4a;
	letter-spacing: 1.19px;
	text-align: left;
	width: 200px;
	height: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	line-height: 16px;
	margin-top: 36px;
	margin-bottom: 14px;
}


.dev-container .dev-item1 figure .check-state {
	border-radius: 4px;
	width: 110px;
	height: 30px;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top: 65px;
}
.successbtn {
	background: #3CC060;
	cursor: default;
	cursor: -ms-default;
}
.normalbtn {
	background: #ADADAD;
	cursor: default;
	cursor: -ms-default;
}
.uncheckedbtn {
	background: #fd5830;
	cursor: pointer;
	cursor: -ms-pointer;
}
.dev-container .dev-item1 figure .reason  {
	position: absolute;
	top:100px;
	left: -78px;
	display: none;
	color: #424242;
	z-index: 99999;
	background: url(../../img/data_analysis/back.png) no-repeat center center;
	height: 195px;
	width: 472px;
}
.dev-container .dev-item1 figure .reason .reason-title{
	width: 450px;
	height: 80px;
	line-height: 80px;
	font-size: 14px;
}
.dev-container .dev-item1 figure .reason .reason-body{
	width: 450px;
	height: 50px;line-height: 20px;
	padding-left: 32px;
	font-size: 12px;
}
.dev-container .dev-item1 figure .uncheckedbtn:hover~.reason  {
	display: block;
}

.dev-container .items .appinfo {
	width: auto;
	/*height: 100%;*/
	font-size: 14px;
	letter-spacing: 1.04px;
}

.dev-container .appinfo .keyvalue {
	height: 14px;
	line-height: 14px;
	margin-bottom: 24px;
}

.dev-container .dev-item3-1 .appinfo {
	color: #4a4a4a;
	margin-top: 20px;
}

.dev-container .dev-item1 .appinfo .keyvalue {
	color: #bdbdbd;
	text-align: left;
	text-align: -moz-left;
	text-align: -webkit-left;
}

.dev-container .dev-item1 .appinfo .key1 {
	width: 88px;
	display: inline-block;
	vertical-align: top;
	line-height: 144%;
}

.dev-container .dev-item1 .appinfo .key2 {
	width: 50px;
	display: inline-block;
	vertical-align: top;
	line-height: 144%;
}

.dev-container .dev-item3-1 .appinfo .key {
	width: 142px;
	display: inline-block;
	text-align: right;
	text-align: -moz-right;
	text-align: -webkit-right;
	margin-right: 20px;
	vertical-align: top;
	line-height: 144%;
}

.dev-container .appinfo .value {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	line-height: 144%;
}

.dev-container .dev-item1 .appinfo .value {
	width: 280px;
}

.dev-container .dev-item3-1 .appinfo .value {
	width: 374px;
}

.dev-container .dev-item3-1 .appinfo .value1 {
	width: 374px;
	height: 64px;
	display: inline-block;
	line-height: 144%;
	overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
}

.dev-container .dev-wrapper .dev-item2 {
	height: 146px;
}

.dev-container .dev-wrapper .dev-item2>div {
	height: 100%;
	margin: 0px 105px;
}

.dev-container .dev-wrapper .dev-item2 .mbtn {
	width: 110px;
	height: 144px;
	line-height: 144px;
	text-align: center;
	text-align: -moz-center;
	text-align: -webkit-center;
	font-size: 16px;
	display: inline-block;
	padding-top: 40px;
}
.normal {
	color: #4a4a4a;
	cursor: pointer;
	cursor: -ms-pointer;
}
.disabled {
	color: #dbdbdb;
	cursor: default;
	cursor: -ms-default;
}
.dev-container .dev-wrapper .dev-item2 .edit {
	background: url(../../img/manage/editbtn.png) no-repeat center 32px;
}

.dev-container .dev-wrapper .dev-item2 .update {
	background: url(../../img/manage/updatebtn.png) no-repeat center 32px;
}

.dev-container .dev-wrapper .dev-item2 .submit {
	background: url(../../img/manage/submitbtn.png) no-repeat center 32px;
}

.dev-container .dev-wrapper .dev-item2 .downline {
	background: url(../../img/manage/downlinebtn.png) no-repeat center 32px;
}

.dev-container .dev-wrapper .dev-item2 .delete {
	background: url(../../img/manage/deletebtn.png) no-repeat center 32px;
}
.dev-container .dev-wrapper .dev-item2 .dis-edit {
	background: url(../../img/manage/dis-edit.png) no-repeat center 32px;
}

.dev-container .dev-wrapper .dev-item2 .dis-update {
	background: url(../../img/manage/dis-update.png) no-repeat center 32px;
}

.dev-container .dev-wrapper .dev-item2 .dis-submit {
	background: url(../../img/manage/dis-submit.png) no-repeat center 32px;
}

.dev-container .dev-wrapper .dev-item2 .dis-downline {
	background: url(../../img/manage/dis-down.png) no-repeat center 32px;
}

.dev-container .dev-wrapper .dev-item2 .dis-delete {
	background: url(../../img/manage/dis-delete.png) no-repeat center 32px;
}
.dev-container .dev-wrapper .dev-item3 {
	width: 100%;
	height: 246px;
	margin-bottom: 14px;
}

.dev-container .dev-wrapper .dev-item3-1 {
	width: 595px;
	height: 100%;
	display: inline-block;
	float: left;
}

.dev-container .dev-item3 .title {
	height: 64px;
	line-height: 64px;
	width: 100%;
}

.dev-container .dev-item3 .title span {
	font-size: 18px;
	color: #9e9e9e;
	padding-left: 44px;
	float: left;
	font-weight: normal;
}

.dev-container .dev-item3 .title a {
	font-size: 16px;
	color: #8c61da;
	float: right;
	margin-right: 40px;
}

.dev-container .dev-wrapper .dev-item3-2 {
	width: 590px;
	height: 100%;
	float: right;
}

.dev-container .dev-item3-2 .data-anlasys {
	height: 180px;
	width: 100%;
	padding: 0px 80px;
}

.dev-container .dev-item3-2 .data-info {
	width: 100px;
	text-align: right;
	text-align: -moz-right;
	text-align: -webkit-right;
	color: #4a4a4a;
	margin-bottom: 30px;
}

.dev-container .dev-item3-2 .data-info label {
	font-size: 14px;
	letter-spacing: 1.04px;
	margin-bottom: 17px;
	display: inline-block;
}

.dev-container .dev-item3-2 .data-info span {
	font-size: 18px;
	letter-spacing: 1.34px;
}

.dev-container .dev-wrapper .dev-item4 {
	height: auto;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	/*padding: 28px;*/
	height: 67px;
	line-height: 67px;
}
.table>tbody>tr:nth-child(2n){
	background-color: #FFFFFF;
}
.table>thead>tr{
	background-color: #FFFFFF;
}